:root {
    --primary-color: #fcf6e3;
    --secondary-color: #080808;
    --accent-color: #d6d1c4;
    --background-color: #222;
}

body {
    color: var(--primary-color);
    font-family: "Baskerville";
    margin: 0;
    background-color: var(--secondary-color);
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-color: var(--accent-color);
}

.marquee-content {
    display: inline-flex;
    animation: scroll-continuous 60s linear infinite;
}

.marquee-content span {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-style: italic;
    padding-right: 50px;
}

@keyframes scroll-continuous {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.link {
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.link:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 3px;
    border-radius: 3px;
}

.link:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 4px;
}

.logo, .IG {
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
}

.blessthisgem {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container .item {
    display: flex;
}

.container .item .item-1 {
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}

.logo {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.IG {
    width: 20px;
    height: auto;
    object-fit: cover;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-image: url(page-1/background.jpg);
    background-size: cover;
    gap: 10px;
}

.container-2 .item-2 {
    text-align: center;
}

.me {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.container-2 .item-2 .item-2-1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.container-2 .item-2 .item-2-2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.container-2 .item-2 .item-2-3 {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 600px;
}

.hire-me-link {
    text-decoration: none;
}

.container-2 .item-2 .item-2-4 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.75rem;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

.container-2 .item-2 .item-2-4:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(252, 246, 227, 0.4);
}

.portfolio {
    text-align: center;
    padding: 10px 20%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.portfolio h2 {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portfolio-item .overlay p {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.portfolio-item:hover .overlay {
    opacity: 1;
}

.portfolio-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

footer p {
    margin: 0;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contact-form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
